<div class="row">
<div class="col-md-12">

      <div class="card">
          <div class="cardtitle backwhite">
            <span style="font-size: 27px; color:#348781">$</span>
            <span lang="en" style="font-size: 27px; padding-left:10px">The Model for Financial Analysis of Electric Sector Expansion Plans</span>
          </div>
          <div class="cardbody">
              <h3 lang="en">Planning and Economic Studies Section</h3>
              <h4 lang="en">Division of Nuclear Power</h4>
              <h4 lang="en">Department of Nuclear Energy</h4>
              <h4 lang="en">International Atomic Energy Agency</h4>
          </div>
      </div>
  </div>
</div>
    
    
    
    
    
    
    
    
    
    
    
    