<h3>FINPLAN The Model for Financial Analysis of Electric Sector Expansion Plans  ver. 4.0.3 <small>20220307 release</small></h3>
<b>Change Log (07.03.2022)</b><br/>
<b>Bug fixes, including:</b><br/>
<li>General data -> Inflation information / Currency exchange rate-Grid input (years) validation fixed</li>
<li>General data -> Currency exchange rates -> Exchange rate reflects inflation rates warning message added for year input</li>
<li>Initial Balance sheet -> Assets and liabilities selected local currnecy added as label information</li>
<li>Initial Balance sheet -> Assets and liabilities validation added - warning when assets would not match equity and liabilities</li>
<li>Sales and purchase data -> Sales data / Purchase data input of initial year data fixed</li>
<li>Sales and purchase data -> Sales data / Purchase data refresh currency labels after currencu is changed in drop down list</li>
<li>Sales and purchase data -> Sales data / Purchase data validation of clients name (no blanks nor special characters)</li>
<li>Sales and purchase data -> Fixed revenues and other income display selected base currency</li>

<li>Plant data -> Fuel cost / General expenses data added millions in label</li>
<li>Plant data -> Sources of financing % for Export Credit 1, 2 and Project loans, and under -> Terms of financing: for export credits and project loans added base currency label</li>
<li>Financial manager -> Equity / New commercial loans / New bonds year data rule message changed</li>
<li>Info about version</li>

<h3>FINPLAN The Model for Financial Analysis of Electric Sector Expansion Plans  ver. 4.0.2 <small>20210618 release</small></h3>
<b>Change Log (18.06.2021)</b><br/>
<b>Bug fixes, including:</b><br/>
<li>Total amount in constant prices (Million) = 0</li>
<li>Info about version</li>

<h3>FINPLAN The Model for Financial Analysis of Electric Sector Expansion Plans  ver. 4.0.0 <small>20201120 release</small></h3>
<b>New features (14.06.2021)</b><br/>
<li>Login system</li>
<li>New design of interface</b></li>
<li>New tables and charts</b></li>
<li>Plant organization</b></li>
<li>New menu</li>

<h3>FINPLAN The Model for Financial Analysis of Electric Sector Expansion Plans  ver. 2.0.0 <small>20201120 release</small></h3>
<b>Change Log (04.12.2017)</b><br/>
<b>Bug fixes, including:</b><br/>
<li>Export credit: fixed export credit calculations for multiple plants</li>
<b>Change Log (20.01.2017)</b><br/>
<b>Bug fixes, including:</b><br/>
<li>Decomissioning: corrected yearly payments; corrected payment period in 'Intermediate Results'</li>
<li>General plant data: included checks to ensure construction period is within modelling period</li>
<li>Sales and purchase data: ensured fixed quantities and data entry for very first year are treated correctly in 'Intermediate Results'</li>
<li>Cash inflows and outflows: corrected calculation of 'Cash Available (VAT)' for very first year</li>
<b>Improved functionality, including:</b><br/>
<li>General information: introduced warning to update all input data when changing start year of modelling period</li>
<li>Sales and purchase data: allowed entering data immediately when selecting 'Fixed' without the need to press save first</li>
<li>Plant data: included warning if yearly investment distribution does not add up to 100%</li>
<b>Editorial fixes, including:</b><br/>
<li>Decommissioning: clarified if amount is saved in external trust or internal fund throughout FINPLAN entry and output fields</li>
<li>Tax information: clarified the use of the depreciation method for existing assets</li>
<b>Change Log (21.09.2016)</b><br/>
<b>Bug fixes, including:</b><br/>
<li>Power plant related costs: corrected the number of years data can be entered; ensured they are not accounted for in the results beyond the plant's lifetime</li>
<li>Export credit: corrected the interest rate applied when selecting Floating; corrected the repayments when selecting Floating and Uniform (P+I)</li>
<li>Sales and purchase data: allowed to correctly consider multiple clients for sales and purchase data; ensured consistency in the calculations</li>
<li>Depreciation: ensured the switch works correctly when choosing declining switching to linear; corrected the depreciation rate applied</li>
<li>Project loans: allowed to enter a fixed interest rate</li>
<li>Project finance analysis: corrected calculation of maximum project finance during project life</li>
<li>Financial ratios: improved and corrected calculations and warning messages</li>
<b>Improved functionality, including:</b><br/>
<li>Allowed exporting all results with one click</li>
<li>Improved navigation through the menu</li>
<li>Included version number and this change history</li>
<li>Enabled function to enter consumer contributions and deposits (do not yet appear in cash flow statement)</li>
<b>Editorial fixes, including:</b><br/>
<li>Sales and purchase data: improved data entry and standard settings; immediate data entry checks and warnings to avoid error messages during the calculations</li>
<li>Export credit: clarified if value for constant or floating interest is used</li>
<li>Updated list of currencies</li>
<li>Clearly spelled out the units used and updated header text based on the units chosen</li>
<li>Clarified terms and adding explanatory text</li>
<li>Corrected spelling mistakes</li>
<li>Improved formatting</li>